<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmYWI3MzNjM2Q1NzJiNmQwOWUzZTk0NmU1Y2Y1ZmUzNyIsInN1YiI6IjYzZGI4ZTU4YTkxMTdmNzA4MjEzMWY5YSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.MtLGj0qq3Q8-MG51CWkfZ0oZKInH559aajzBBrzuH9k</string>
	<key>BASE_URL</key>
	<string>https://api.themoviedb.org/3</string>
	<key>IMAGE_BASE_URL</key>
	<string>https://image.tmdb.org/t/p</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Nunito-Italic.ttf</string>
		<string>Nunito-Regular.ttf</string>
		<string>Oswald.ttf</string>
	</array>
</dict>
</plist>
